.movies-container {
    font-size: 18px;
}

.movie-filter-container {
    margin-bottom: 20px;
}

.list-movies {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 576px) {
    .movies-container {
        font-size: 30px;
    }
}