.product-details-card {
  padding: 20px 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.base-input {
  background-color: #fff;
  height: 46px;
  margin-bottom: 20px;
}

.details-submit button {
  margin: 10px 0px;
  background-color: #ffc700;
  color: #000000;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: -0.015em;
  border-radius: 4px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  min-width: 180px;
  border: none;
}

@media (min-width: 576px) {
  .details-submit {
    width: 320px;
  }

  .details-submit button {
    width: 100%;
  }
}
